<div class="home" id="rankingDiv">
    <div class="overlay">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12 col-md-12 head-text text-center">
                    <h1 id="divDisp">Classificação - Concurso Marinha - Fuzileiros</h1>
                    <table class="table table-bordered table-responsive ranking">
                        <thead>
                            <tr>
                                <th class="text-center">Posição</th>
                                <th class="text-center">Nome do candidato</th>
                                <th class="text-center">Nota obtida</th>
                                <th class="text-center">Editar</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="candidate in rankingCtrl.candidateRanking | orderBy: '-score'">
                            <tr>
                                <td>{{$index + 1}}</td>
                                <td>{{candidate.name}}</td>
                                <td>{{candidate.score}}</td>
                                <td ><i class="fa fa-pencil-square-o cursor-pointer" ng-click="rankingCtrl.editScore({id: candidate.id, score: candidate.score})"></i></td>
                            </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
