<div class="home">
    <div class="overlay">
        <div class="container">
            <div class="row ">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 head-text additional-information">
                    <h1 id="divDisp">Confira sua classificação</h1>
                    <span>
                        <i class="fa fa-lightbulb-o "></i>Insira seu nome
                    </span>
                    <span>
                        <i class="fa fa-lightbulb-o"></i>Insira seu e-mail
                    </span>

                    <span>
                        <i class="fa fa-lightbulb-o"></i>Por fim, coloque sua nota na prova
                    </span>
                    <span>
                        <i class="fa fa-lightbulb-o"></i>Acompanhe sua classificação no ranking
                    </span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="div-trans text-center">
                        <h3>Entre no ranking</h3>
                        <h2><span>Concurso XPTO</span></h2>
                        <form name="insertScore" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                            <div class="form-group" ng-class="{'has-error': insertScore.name.$error.required && insertScore.name.$dirty }">
                                <input type="text" name="name" class="form-control input-lg" placeholder="Nome" ng-model="insertScoreCtrl.candidateData.name" required >
                            </div>

                            <div class="form-group" ng-class="{'has-error': (insertScore.email.$error.required || insertScore.email.$error.email) && insertScore.email.$dirty }">
                                <input type="email" name="email" class="form-control input-lg" placeholder="Email" ng-model="insertScoreCtrl.candidateData.email" required>
                            </div>


                            <div class="form-group" ng-class="{'has-error': (insertScore.score.$error.required || insertScore.score.$error.number) && insertScore.score.$dirty }">
                                <input type="number" name="score" min="0" class="form-control input-lg" placeholder="Nota" ng-model="insertScoreCtrl.candidateData.score" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block btn-lg" ng-click="insertScoreCtrl.insertUserScore()" ng-disabled="insertScore.$invalid">Enviar</button>
                            </div>
                            <div class="form-group">
                                <a href="#/concursoXPTO/ranking" class="btn btn-info btn-block btn-lg">Ver Ranking</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>


</div>