<div class="col-lg-8 col-lg-offset-2">
    <h1>Login</h1>
    <form name="login" class=" col-md-offset-2 col-md-8  col-sm-12 ">

        <div class="form-group" ng-class="{'has-error': (login.email.$error.required || login.email.$error.email) && login.email.$dirty }">
            <input type="email" name="email" class="form-control input-lg" placeholder="E-mail" ng-model="loginCtrl.loginData.email" required>
        </div>

        <div class="form-group" ng-class="{'has-error': login.password.$error.required && login.password.$dirty }">
            <input type="password" name="password" class="form-control input-lg" placeholder="Senha" ng-model="loginCtrl.loginData.password" required>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block btn-lg" ng-click="loginCtrl.login()" ng-disabled="login.$invalid">Entrar</button>
        </div>
        <div class="form-group">
            <a href="#/cadastro" class="link">Não tem cadastro? Clique aqui</a>
        </div>
    </form>
</div>